
.landing-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.text-content-section {
  flex: 1;
  margin-right: 20px;
}

.image-content-section {
  flex: 1;
}

.image-content-section img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .landing-page-container {
    flex-direction: column;
  }

  .text-content-section,
  .image-content-section {
    margin-right: 0;
    margin-bottom: 20px;
  }
}